<div class="list-group m-5">
  <span href="#" class="list-group-item list-group-item-action bg-dark active">
    CLIENT API
  </span>
  <span class="list-group-item list-group-item-action text-info"><strong>Add client
      &lt;POST&gt;</strong>
    :
    <a target="_blank" href="https://t52-loan-nodejs.herokuapp.com/t52/client/">
      https://t52-loan-nodejs.herokuapp.com/t52/client/</a>
    <br />
    POST => Object {
    <img class="img-thumbnail" src="../public/img/addClient.png" alt="" />
    }</span>
  <span
    href="#"
    class="list-group-item list-group-item-action text-success"
  ><strong>Get all client &lt;GET&gt;</strong>
    :
    <a target="_blank" href="https://t52-loan-nodejs.herokuapp.com/t52/client/">
      https://t52-loan-nodejs.herokuapp.com/t52/client/</a></span>
  <span
    href="#"
    class="list-group-item list-group-item-action text-success"
  ><strong>Find client by id &lt;GET&gt;</strong>
    :
    <a target="_blank" href="https://t52-loan-nodejs.herokuapp.com/t52/client/">
      https://t52-loan-nodejs.herokuapp.com/t52/client/id</a>
    <br />
    GET => Id of client</span>
  <span
    href="#"
    class="list-group-item list-group-item-action text-warning"
  ><strong>Update client &lt;PUT&gt;</strong>
    :
    <a target="_blank" href="https://t52-loan-nodejs.herokuapp.com/t52/client/">
      https://t52-loan-nodejs.herokuapp.com/t52/client/id</a>
    <br />
    PUT => Object {
    <img
      class="img-thumbnail"
      src="../public/img/addClient.png"
      alt=""
    />}</span>
  <span
    href="#"
    class="list-group-item list-group-item-action text-danger"
  ><strong>Delete client &lt;DELETE&gt;</strong>
    :
    <a target="_blank" href="https://t52-loan-nodejs.herokuapp.com/t52/client/">
      https://t52-loan-nodejs.herokuapp.com/t52/client/id</a>
    <br />
    DELETE => Id of client</span>
</div>
<div class="list-group m-5">
  <span href="#" class="list-group-item list-group-item-action bg-dark active">
    STORE API
  </span>
  <span class="list-group-item list-group-item-action text-info"><strong>Add store
      &lt;POST&gt;</strong>
    :
    <a target="_blank" href="https://t52-loan-nodejs.herokuapp.com/t52/store/">
      https://t52-loan-nodejs.herokuapp.com/t52/store/</a>

    <br />
    POST => Object: {<img
      class="img-thumbnail"
      src="../public/img/addStore.png"
      alt=""
    />}
  </span>
  <span
    href="#"
    class="list-group-item list-group-item-action text-success"
  ><strong>Get all store &lt;GET&gt;</strong>
    :
    <a target="_blank" href="https://t52-loan-nodejs.herokuapp.com/t52/store/">
      https://t52-loan-nodejs.herokuapp.com/t52/store/</a></span>
  <span
    href="#"
    class="list-group-item list-group-item-action text-success"
  ><strong>Find store by id &lt;GET&gt;</strong>
    :
    <a target="_blank" href="https://t52-loan-nodejs.herokuapp.com/t52/store/">
      https://t52-loan-nodejs.herokuapp.com/t52/store/id</a>
    <br />
    GET => Id of store</span>
  <span
    href="#"
    class="list-group-item list-group-item-action text-warning"
  ><strong>Update store &lt;PUT&gt;</strong>
    :
    <a target="_blank" href="https://t52-loan-nodejs.herokuapp.com/t52/store/">
      https://t52-loan-nodejs.herokuapp.com/t52/store/id</a>
    <br />
    PUT => Object {<img
      class="img-thumbnail"
      src="../public/img/addStore.png"
      alt=""
    />}</span>
  <span
    href="#"
    class="list-group-item list-group-item-action text-danger"
  ><strong>Delete store &lt;DELETE&gt;</strong>
    :
    <a target="_blank" href="https://t52-loan-nodejs.herokuapp.com/t52/store/">
      https://t52-loan-nodejs.herokuapp.com/t52/store/id</a>
    <br />
    DELETE => Id of store</span>
</div>
<div class="list-group m-5">
  <span href="#" class="list-group-item list-group-item-action bg-dark active">
    PARTNER API
  </span>
  <span class="list-group-item list-group-item-action text-info"><strong>Add partner
      &lt;POST&gt;</strong>
    :
    <a target="_blank" href="https://t52-loan-nodejs.herokuapp.com/t52/partner/">
      https://t52-loan-nodejs.herokuapp.com/t52/partner/</a>

    <br />
    POST => Object: {<img
      class="img-thumbnail"
      src="../public/img/addPartner.png"
      alt=""
    />}
  </span>
  <span
    href="#"
    class="list-group-item list-group-item-action text-success"
  ><strong>Get all partner &lt;GET&gt;</strong>
    :
    <a target="_blank" href="https://t52-loan-nodejs.herokuapp.com/t52/partner/">
      https://t52-loan-nodejs.herokuapp.com/t52/partner/</a></span>
  <span
    href="#"
    class="list-group-item list-group-item-action text-success"
  ><strong>Find partner by id &lt;GET&gt;</strong>
    :
    <a target="_blank" href="https://t52-loan-nodejs.herokuapp.com/t52/partner/">
      https://t52-loan-nodejs.herokuapp.com/t52/partner/id</a>
    <br />
    GET => Id of partner</span>
  <span
    href="#"
    class="list-group-item list-group-item-action text-warning"
  ><strong>Update partner &lt;PUT&gt;</strong>
    :
    <a target="_blank" href="https://t52-loan-nodejs.herokuapp.com/t52/partner/">
      https://t52-loan-nodejs.herokuapp.com/t52/partner/id</a>
    <br />
    PUT => Object {<img
      class="img-thumbnail"
      src="../public/img/addPartner.png"
      alt=""
    />}</span>
  <span
    href="#"
    class="list-group-item list-group-item-action text-danger"
  ><strong>Delete partner &lt;DELETE&gt;</strong>
    :
    <a target="_blank" href="https://t52-loan-nodejs.herokuapp.com/t52/partner/">
      https://t52-loan-nodejs.herokuapp.com/t52/partner/id</a>
    <br />
    DELETE => Id of partner</span>
</div>
<div class="list-group m-5">
  <span href="#" class="list-group-item list-group-item-action bg-dark active">
    MANAGER API
  </span>
  <span class="list-group-item list-group-item-action text-info"><strong>Add mananer
      &lt;POST&gt;</strong>
    :
    <a target="_blank" href="https://t52-loan-nodejs.herokuapp.com/t52/mananer/">
      https://t52-loan-nodejs.herokuapp.com/t52/mananer/</a>

    <br />
    POST => Object: {<img
      class="img-thumbnail"
      src="../public/img/addManager.png"
      alt=""
    />}
  </span>
  <span
    href="#"
    class="list-group-item list-group-item-action text-success"
  ><strong>Get all mananer &lt;GET&gt;</strong>
    :
    <a target="_blank" href="https://t52-loan-nodejs.herokuapp.com/t52/mananer/">
      https://t52-loan-nodejs.herokuapp.com/t52/mananer/</a></span>
  <span
    href="#"
    class="list-group-item list-group-item-action text-success"
  ><strong>Find mananer by id &lt;GET&gt;</strong>
    :
    <a target="_blank" href="https://t52-loan-nodejs.herokuapp.com/t52/mananer/">
      https://t52-loan-nodejs.herokuapp.com/t52/mananer/id</a>
    <br />
    GET => Id of mananer</span>
  <span
    href="#"
    class="list-group-item list-group-item-action text-warning"
  ><strong>Update mananer &lt;PUT&gt;</strong>
    :
    <a target="_blank" href="https://t52-loan-nodejs.herokuapp.com/t52/mananer/">
      https://t52-loan-nodejs.herokuapp.com/t52/mananer/id</a>
    <br />
    PUT => Object {<img
      class="img-thumbnail"
      src="../public/img/addManager.png"
      alt=""
    />}</span>
  <span
    href="#"
    class="list-group-item list-group-item-action text-danger"
  ><strong>Delete mananer &lt;DELETE&gt;</strong>
    :
    <a target="_blank" href="https://t52-loan-nodejs.herokuapp.com/t52/mananer/">
      https://t52-loan-nodejs.herokuapp.com/t52/mananer/id</a>
    <br />
    DELETE => Id of mananer</span>
</div>
<div class="list-group m-5">
  <span href="#" class="list-group-item list-group-item-action bg-dark active">
    NEWS API
  </span>
  <span class="list-group-item list-group-item-action text-info"><strong>Add news
      &lt;POST&gt;</strong>
    :
    <a target="_blank" href="https://t52-loan-nodejs.herokuapp.com/t52/news/">
      https://t52-loan-nodejs.herokuapp.com/t52/news/</a>

    <br />
    POST => Object: {<img
      class="img-thumbnail"
      src="../public/img/addNews.png"
      alt=""
    />}
  </span>
  <span
    href="#"
    class="list-group-item list-group-item-action text-success"
  ><strong>Get all news &lt;GET&gt;</strong>
    :
    <a target="_blank" href="https://t52-loan-nodejs.herokuapp.com/t52/news/">
      https://t52-loan-nodejs.herokuapp.com/t52/news/</a></span>
  <span
    href="#"
    class="list-group-item list-group-item-action text-success"
  ><strong>Find news by id &lt;GET&gt;</strong>
    :
    <a target="_blank" href="https://t52-loan-nodejs.herokuapp.com/t52/news/">
      https://t52-loan-nodejs.herokuapp.com/t52/news/id</a>
    <br />
    GET => Id of news</span>
  <span
    href="#"
    class="list-group-item list-group-item-action text-warning"
  ><strong>Update news &lt;PUT&gt;</strong>
    :
    <a target="_blank" href="https://t52-loan-nodejs.herokuapp.com/t52/news/">
      https://t52-loan-nodejs.herokuapp.com/t52/news/id</a>
    <br />
    PUT => Object {<img
      class="img-thumbnail"
      src="../public/img/addNews.png"
      alt=""
    />}</span>
  <span
    href="#"
    class="list-group-item list-group-item-action text-danger"
  ><strong>Delete news &lt;DELETE&gt;</strong>
    :
    <a target="_blank" href="https://t52-loan-nodejs.herokuapp.com/t52/news/">
      https://t52-loan-nodejs.herokuapp.com/t52/news/id</a>
    <br />
    DELETE => Id of news</span>
</div>